
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

//----

// - - - - - - Welcome - - - - - - -

section#welcome {

  header {
    padding: 10px;
    margin-bottom: 50px;
    //border-bottom: 1px solid gainsboro;
  }

  div.wrapper-blog-list{
    //border: 1px solid gainsboro;
    //border-radius: 5px;
    padding: 25px;

    div.card{
      margin-bottom: 20px;
    }
  }

}

// ---
